@model Hotel_Final.Models.vwProdCat
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
    <main>
        <section class="FreeShops bg-light" id="Paid" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 margin">
                        <h4>Kategoriyalar</h4>
                        <ul class="list-unstyled">
                            <li><a class="cat" href="/Paid/Products">Bütün Kateqoriyalar</a> </li>

                            @foreach (var category in Model.Categories)
                            {
                                <li class="catlist"><a class="cat" data-id="@category.Id">@category.Name</a> <i class="fas fa-arrow-left"></i></li>
                            }

                        </ul>
                    </div>
                   
                    <div class="margin col-lg-8 offset-lg-1 col-md-7 offset-md-1">
                        <h3 class="text-center font-weight-bold">Məhsullar</h3>
                        <label class="mt-4" for="myInput">Axtar</label>
                        <input id="myInput" autocomplete="off" type="text" class="mt-2 form-control" style="width:50%" placeholder="Search..">
                      
                        <form id="yoxla">

                            <input type="hidden" name="Email" value='' />
                            <input type="hidden" id="Subject" name="Subject" value="" />
                        </form>


                        <table id="ProductTable" class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Adı</th>
                                    <th scope="col">Qiyməti</th>
                                    <th scope="col">Miqdarı</th>
                                    <th scope="col">Sifariş et</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <th scope="row">@product.OrderBy</th>
                                        <td>@product.Name</td>
                                        <td>@(@product.Price == null ? "Ödənişsizdir" : product.Price+"$")</td>
                                        <td><input style="width:50px" min="1" type="number" id="ordercount" name="OrderCount" value="1" /></td>
                                        <td>
                                            <a id="OpenModal" href="/Paid/AddOrder" data-id="@product.Id">Əlavə et <i class="fas fa-arrow-left"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            </div>
        </section>
    </main>
